openstarry.154-219-110-177.sslip.io {
  encode zstd gzip
  handle /v1/* {
    reverse_proxy sync-server:8787
  }
  handle /health {
    reverse_proxy sync-server:8787
  }
  handle_path /downloads/* {
    root * /downloads
    file_server
  }
  handle {
    reverse_proxy mobile-web:80
  }
}
